.scrubberArea {
	display: flex;
	justify-content: space-between;
}

.volumeTitle {
  font-size: 8px;
  display: flex;
  justify-content: center;
}

.volumeScrubber {
	display: flex;
	/*align-items: center;*/
	justify-content: flex-end;
	margin-left: auto;
	flex-direction: column;
	/*align-content: space-between;*/
	/*float: right;*/
	width: 25%;
	height: 20px;
	padding: 10px;
}
